/* Global Height & Overscroll Fixes */
:root {
    font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: dark;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    /* Lock body to prevent bounce */
    background-color: #000;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior: none;
}

#root {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    /* Allow internal scrolling */
    -webkit-overflow-scrolling: touch;
}


/* Custom Scrollbar Hiding */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}